body{
font-family: 'Grenze Gotisch', cursive;
}

header{
	background: #BBBBBB;
	padding: 20px 0 ;
	
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;

}
nav li {	
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color:#000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}


.produtos { 
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;

 }

.produtos li{
	display: inline-block;
	text-align: center;	
	width: 28%;
	vertical-align: top;	
	margin: 0 1.5%;
	padding: 35px 25px;
	box-sizing: border-box;
	border: 4px solid #000000;
	border-radius: 15px;
	z-index: 10;
}
.produtos li:hover{
	border-color: #C78C19;
}
.produtos li:active{
	border-color: #088C19;
}
.produtos li:hover h2{
	font-size: 34px;
}

.produtos h2{
	font-size: 25px;
	font-weight: bold;
}
.produto-descricao{
    font-size: 16px;
	
}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
}

.produtos img{
	z-index: -10;
	width: 90%	;
}


footer {

	text-align: center;
	background: url("bg.jpg");
	padding: 20px 0;
}

.copyright{
	color: white;
	font-size: 13px;
	margin: 20px 0;
}
main{
	padding-left: 20px;
	
}
form{
	margin: 40px 0;

}
form label, form fieldset{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;

}
.input-padrao{

 display: block;
 margin: 0 0 20px;
 padding: 8px 25px;
 width: 45%;

}
.checkbox{
	margin: 20px 0;
}

.enviar{

	width: 40%;
	padding: 15px;
	background:limegreen ;
	color: black;
	font-weight: bold;
	font-size: 18px;	
	border: none;
	border-radius: 7px;
	transition: 1,5s all;
	cursor: pointer;
}

.enviar:hover{
	font-size: 22px;
}

.enviar:active{
	transition: scale(1.2);
	background: darkgreen;
}

table{
	margin: 20px 0 40px;
}	

thead {
	background: #555555;
	font-weight: bold;
	color: white;
}

td, th
{
	border: 1px solid black;
	padding: 8px 15px;
	font-style: italic;
}

/* Css da página inicial */
.banner{
	width: 100%;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	padding: 1em 0 ;

}
.titulo-principal:before{
	content: "[";
}
.titulo-principal:after{
	content: "]";
}


.beneficios{
	padding: 1em 0 ;
	background: #888888;
	
}
.principal{
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	
}

.principal strong{
	font-weight: bold;
}

.principal  em{
	font-style: italic;
}


.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;

}

.maps{
	padding: 1em 0 ;
	background:linear-gradient(#FEFEFE,#888888);
}
	
.conteudo-maps{
	width: 940px;
	margin: 0 auto;	
}

.maps p{
	margin: 0 0 2em 0;
	text-align: center;
	font-size: 1em;
	

}
.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;


}
.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;

}	

.itens{
	line-height: 1,5;
}

.itens:first-child{
	font-weight: bold;
}
.itens:before{ 
	content: "\2704 ";
}


.img-beneficios{
	width: 60%;
	opacity: 1;
	box-shadow: 13px 13px 6.5px #000000;
	transition: 500ms;
}
.img-beneficios:hover{
opacity: 0.3;
}
.video{
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 480px{
	.caixa, .principal, .conteudo-beneficios,.conteudo-maps, .video{
		width: 100%;
	}
	h1{
		text-align: center;
	}
	nav{
		position: static;
	}
}